<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Navbar-->
        <div class="row">
            <div class="col-3"></div>
            <div class="col-12 col-sm-6">
                <div class="card mb-5 mb-xl-10">
                    <div class="card-header">
                        <h3 class="card-title">Cierre de Caja</h3>
                    </div>
                    <div class="card-body py-5">
                        <div class="mb-10">
                            <label for="exampleFormControlInput1" class="required form-label">Example</label>
                            <input type="email" class="form-control form-control-solid" placeholder="Example input"/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2">
                            <a href="#" class="btn btn-info btn-hover-scale me-5">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--end::Navbar-->
        <!--begin::details View-->
        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
            <!--begin::Card header-->
            <div class="card-header cursor-pointer">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Profile Details</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-9">
                <!--begin::table-->
                <div class="table-responsive">
                    <table class="table table-hover table-striped gy-3 gs-7">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                <th class="min-w-200px">Nivel</th>
                                <th class="min-w-400px">Nombre</th>
                                <th class="min-w-100px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-bolder">1</td>
                                <td>Segundo Nivel</td>
                                <td>
                                    <a href="#" class="btn btn-success">Abierto</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bolder">2</td>
                                <td>Tercer Nivel</td>
                                <td>
                                    <a href="#" class="btn btn-danger">Cerrado</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bolder">3</td>
                                <td>Primer Nivel</td>
                                <td>
                                    <a href="#" class="btn btn-danger">Cerrado</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::table-->

                <!--begin::Notice-->
                <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
                    <!--begin::Icon-->
                    <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                    <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect>
                            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect>
                            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-stack flex-grow-1">
                        <!--begin::Content-->
                        <div class="fw-bold">
                            <h4 class="text-gray-900 fw-bolder">We need your attention!</h4>
                            <div class="fs-6 text-gray-700">Your payment was declined. To start using tools, please 
                            <a class="fw-bolder" href="/rider-html-pro/dark/account/billing.html">Add Payment Method</a>.</div>
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Notice-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::details View-->
    </div>
    <!--end::Container-->
</div>

