<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container"> 
        <!--begin::Navbar-->
        <div class="row">
        <div class="col-3"></div>
        <div class="col-12 col-sm-6">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header">
                    <h3 class="card-title">Aperturar Caja</h3>
                </div>
                <div class="card-body py-5">
                    <div class="mb-10">
                        <label for="exampleFormControlInput1" class="required form-label">Example</label>
                        <input type="email" class="form-control form-control-solid" placeholder="Example input"/>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-success btn-hover-scale me-5">Abrir</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--end::Navbar-->
    </div>
    <!--end::Container-->
</div>
